*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
body{
    background-color: #f0f2f5;

}
#div2{
    background-color: red;
    
}
#div1{

}
@media screen and (max-width: 1200px) {
    #div3{
        padding: 3% 3% 0 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        }

        #div4{
            
            padding: 0% 25% 0 25%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            
            }
            #div4 p{
                
                font-size: 28px;
                text-align: center;
                
                
            }
            #resim{
                
                width: 300px;
                
            }
            #div5{
           
            
            }
            #div6{
            background-color: white;
            padding: 10px;
            width: max-content ;
            border-radius: 10px;
            text-align: center;
            
            }
            #div6 input{
                padding: 15px;
                margin: 5px;
                width: 364px;
                border-radius: 10px;
                border: 1px solid rgba(156, 156, 156, 0.699);
                font-size: 16px;
            }
            form{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            form p{
                margin: 20px;
                
            
            }
            #p2{
                
                padding: 13px 0 13px 0;
                background-color: #36a420;
                border-radius: 5px;
                width: 190px;
                
               
            }
            hr{
                width: 364px;

            }
            #p1 a{
                color: #1877f2;
            
            }
            #p2 a{
                color: white;
                font-size: 20px;
                font-weight: 500;
                text-align: center;
            }
            #sub{
                background-color: #1877f2;
                border: 0;
                border-radius: 5px;
                color: white;
                font-size: 21px;
                font-weight: 600;
            
            }
            #div5 >p{
                padding: 30px 10px;
                width: 390px;
                font-size: 17px;
                text-align: center;
                
            
            }
            #div5 >p a{
                font-weight: 700;
                color: black;
            }
    


}
@media screen and (min-width: 1200px) {
    #div3{
        padding: 8% 24% 0 21%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        }

        #div4{
            
            padding: 2% 5% 0 2%;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            
            }
            #div4 p{
                
                font-size: 31px;
                margin-left: 30px;
                text-align: left;
                
                
            }
            #resim{
                
                width: 300px;
                
            }
            #div5{
           
            
            }
            #div6{
            background-color: white;
            padding: 10px;
            width: max-content ;
            border-radius: 10px;
            text-align: center;
            
            }
            #div6 input{
                padding: 15px;
                margin: 5px;
                width: 364px;
                border-radius: 10px;
                border: 1px solid rgba(156, 156, 156, 0.699);
                font-size: 16px;
            }
            form{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            form p{
                margin: 20px;
                
            
            }
            #p2{
                
                padding: 13px 0 13px 0;
                background-color: #36a420;
                border-radius: 5px;
                width: 190px;
                
               
            }
            hr{
                width: 364px;

            }
            #p1 a{
                color: #1877f2;
            
            }
            #p2 a{
                color: white;
                font-size: 20px;
                font-weight: 500;
                text-align: center;
            }
            #sub{
                background-color: #1877f2;
                border: 0;
                border-radius: 5px;
                color: white;
                font-size: 21px;
                font-weight: 600;
            
            }
            #div5 >p{
                padding: 30px 10px;
                width: 390px;
                font-size: 17px;
                text-align: center;
                
            
            }
            #div5 >p a{
                font-weight: 700;
                color: black;
            }



}

